@model List<PassionProject.Models.Brand>
@{
    ViewBag.Title = "Add";
}

<h2>Add New Product</h2>
<div>
    <a href="/Product/List">Back to List</a>
</div>
<form method="POST" action="/Product/Add">

    <div>Name: <input id="ProductName" type="text" name="ProductName" /></div>
    <div>
        Description:
        <textarea id="ProductDescription" name="ProductDescription">
        </textarea>
    </div>
    <div>Price ($): <input id="ProductPrice" type="text" name="ProductPrice" /></div>
    <div>
        Brand:
        <select id="BrandId" type="text" name="BrandId">
            @{
                //A rendering loop to represent a list of brands
                foreach (var brands in Model)
                {
                    <option value="@brands.BrandId">@brands.BrandName</option>

                }
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add Product">
    </div>
</form>
