
@{
    ViewBag.Title = "Add";
}

<h2>Add new Category</h2>

<a href="/Category/List">Back to List</a>
<form method="POST" action="/Category/Add">
    <div>Category Name: <input type="text" id="CategoryName" name="CategoryName" /></div>
    <div><input type="submit" value="Add New Category" /></div>
</form>

