
@{
    ViewBag.Title = "Add";
}

<h2>Add New Brand</h2>

<a href="/Brand/List">Back to List</a>
<form method="POST" action="/Brand/Add">
    <div>Brand Name: <input type="text" id="BrandName" name="BrandName" /></div>
    <div><input type="submit" value="Add New Brand" /></div>
</form>