@model PassionProject.Models.Brand
@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete @Model.BrandName?</h2>

<div>
    <a href="/Brand/Show/@Model.BrandId">Cancel</a>
</div>

<form method="POST" action="/Brand/DeleteConfirm/@Model.BrandId">
    <div><input type="submit" value="Confirm" /></div>
</form>