@model PassionProject.Models.Brand
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<div>
    <a href="/Brand/List">Back to List</a>
</div>

<form method="post" action="/Brand/Update/@Model.BrandId">
    <input type="text" id="BrandName" name="BrandName" value="@Model.BrandName" />
    <input type="submit" value="Update Brand" />
</form>